.App {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.films {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.film_block {
  margin: 5px;
  /*margin-top: 20px;*/
  width: 30%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
}
.poster{
 width: 30%;
}

.films_info {
  width: 65%;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
}
.error {
  font-size: 30px;
  color: red;
  font-weight: bolder;
}




